<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-success">Genres</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let genre of genres">{{ genre.genreName }}</li>
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items center pb2">
                <header>
                    <span>Showing Results</span>
                </header>

                <div class="d-flex mt-2">
                    <input type="text" placeholder="Search" class="form-control me-2">
                    <button class="btn btn-outline-success mx-2">Search</button>
                    <button class="btn btn-outline-danger mx-2">Reset</button>
                </div>
            </div>

            <!-- Creates a list of works to show to the users -->
            <div class="row row-cols-3 g-3">
                <!-- <app-work-item></app-work-item> -->
                <app-works-list></app-works-list> 
            </div>
        </section>
    </div>
</div> 