<div class="welcome row">
    <h1>Welcome To Lyric Lounge</h1>
    <section class="col">
      <h3>Get Started</h3>
      <p>Login/ Signup to get started posting your lyrical works</p>
      <button>Register</button>
    </section>
    <section class="col">
      <h3>View Your Works</h3>
      <p>View past works and create new ones</p>
      <button routerLink="/list">View Works</button>
    </section>
    <section class="col">
      <h3>Search Works</h3>
      <p>View the works of other based on genre</p>
      <button>Search</button>
    </section>
  </div>