<div class="welcome row">
    <h1>Welcome To Lyric Lounge</h1>
    <section class="col">
      <h3>View All Works</h3>
      <p>Login/ Signup to get started posting your lyrical works</p>
      <button class="btn btn-primary" ><a routerLink="/list">View All Works</a></button>
    </section>
    <section class="col">
      <h3>View Your Works</h3>
      <p>View past works and create new ones</p>
      <button class="btn btn-success" ><a routerLink="/works">View Your Works</a></button>
    </section>
    <section class="col">
      <h3>Add Works</h3>
      <p>Create New works</p>
      <button class="btn btn-warning" ><a routerLink="/create">Create Works</a></button>
    </section>
  </div>