
<div class="row" >
    <div class="col-xs-12">
        <span class="header-image ">
        </span>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p> title</p>
            <p class="card-text"> content</p>
        </div>        
    </div>

    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-sm">Edit</button>
        </div>
    </div>

    <button class="btn btn-success">
        <a routerLink="/create">New Works</a>
    </button>
    
</div>