<div class="row card">
    <div class="col-xs-12">
      <form (submit)="onAddWorks(worksForm)" #worksForm="ngForm">
        <div class="row ">
          <div class="col-md-5 form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="genre">Genre</label>
            <input type="text" name="genre" class="form-control" ngModel>
          </div>
          <div class="col-md-5 form-group">
            <label for="content">Content</label>
            <textarea rows="6" name="content" class="form-control" ngModel></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" >Add</button>
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>